<!-- <section class="pb-0"> -->
    <div class="container mt-3">

        <div class="text-center">
            {% if av_info.status == 106107 %} 
                <span class="badge badge-pill badge-danger badge-soft font-weight-light pl-2 pr-2 pt--6 pb--6 mb-2">
                    ВИРУС
                </span>
            {% elif av_info.status == 106103 %} 
                <span class="badge badge-pill badge-warning badge-soft font-weight-light pl-2 pr-2 pt--6 pb--6 mb-2">
                    ПОДОЗРИТЕЛЬНЫЙ
                </span>
            {% elif av_info.status == 106108 %} 
                <span class="badge badge-pill badge-secondary badge-soft font-weight-light pl-2 pr-2 pt--6 pb--6 mb-2">
                    ЗАРАЖЕНИЯ НЕ ОБНАРУЖЕНО
                </span>
            {% endif %}

            {% if object.trusted %}
                <span class="badge badge-pill badge-success badge-soft font-weight-light pl-2 pr-2 pt--6 pb--6 mb-2">
                    ЛЕГИТИМНЫЙ
                </span>
            {% endif %}
            
            <h2 class="font-weight-normal">
                Анализ файла 
            </h2>
        </div>

    </div>
<!-- </section> -->