    <div class="container">

        <!-- job -->
        <h3 class="h5 border-bottom p-3 mb-4 cursor-pointer bg-primary-soft-hover" data-toggle="collapse" href="#enrichments" role="button" aria-expanded="false" aria-controls="collapseExample2">
            <span class="text-primary">Обогощение базы данных.</span> 
        </h3>

        <div id="enrichments" class="collapse row col-border ">

            <div class="col-12 col-lg-4">

                <div id="enrichment_virus_shares" class="cursor-pointer bg-indigo-soft-hover card shadow-md shadow-lg-hover transition-all-ease-250 transition-hover-top h-100 border-primary bl-0 br-0 bb-0 bw--2">
                    <div class="card-body">
                        <h5 class="card-title">VirusShares</h5>
                        <p class="card-text">
                            Источник: <a href="https://virusshare.com">https://virusshare.com</a>
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </div>