
<div class="row">

    <a href="#" id="ddPrj_demo" class="w-50 mx-auto btn btn-sm rounded-circle-xs btn-primary btn-pill" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
        <span class="group-icon">
            <i class="fi fi-menu-dots"></i>
            <i class="fi fi-arrow-down"></i>
        </span>
        <span>Обогощение базы вирусов</span>
    </a>

    <div aria-labelledby="ddPrj_demo" class="prefix-link-icon prefix-icon-dot dropdown-menu dropdown-menu-clean dropdown-click-ignore shadow-none p-0 mt-0 bg-transparent fs--17 w-50">
        <div class="list-unstyled shadow-lg mt--20 bg-white rounded">
            <div class="dropdown-header text-center">
                Сервисы
            </div>

            <div class="dropdown-divider"></div>

            <div class="scrollable-vertical text-center max-h-50vh">

                <a id="enrichment_virus_shares" class=" cursor-pointer  dropdown-item text-truncate  ">
                    Virus Shares
                </a>
                
            </div>

        </div>
    </div>

</div>