<div class="mt-5 mx-auto w-100">
    {% set active_page = 1 if request.args.get('page') is none else request.args.get('page') | int %}
    {% set iter_pages = objects.iter_pages() | list %}
    <nav aria-label="pagination" class="d-flex d-inline-block">

        <ul class="pagination-custom list-unstyled">

            <li class="page-item d-inline-block ml--2 mr--2 {% if active_page == 1 %} disabled {% endif %}">
                <a class="page-link bw--2" href="{{ url_for('file_analyser.FileAnalyser:by_fingerprint', fingerprint_id=fingerprint_id, page=active_page|int - 1) }}" tabindex="-1" aria-disabled="true">
                    <i class="fi fi-arrow-start fs--11"></i>
                </a>
            </li>

        {% for page_num in objects.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}

            {% if page_num  %}
            <li class="d-inline-block ml--2 mr--2 page-item {% if active_page == page_num %} active {% endif %}">
                <a href="{{ url_for('file_analyser.FileAnalyser:by_fingerprint', fingerprint_id=fingerprint_id, page=page_num) }}"
                    class="page-link cursor-pointer">
                    {{page_num}}
                </a>
            </li>
            {% else %}
            <li class="page-item d-inline-block ml--2 mr--2">
                {% if loop.previtem >= objects.page %}
                    <a href="{{ url_for('file_analyser.FileAnalyser:by_fingerprint', fingerprint_id=fingerprint_id, page=objects.page|int + 3) }}" class="page-link cursor-pointer">...</a>
                {% else %}
                    <a href="{{ url_for('file_analyser.FileAnalyser:by_fingerprint', fingerprint_id=fingerprint_id, page=objects.page|int - 3) }}" class="page-link cursor-pointer">...</a>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}

            <li class="page-item d-inline-block ml--2 mr--2 {% if active_page == iter_pages | length %} disabled {% endif %}">
                <a class="page-link bw--2" href="{{ url_for('file_analyser.FileAnalyser:by_fingerprint', fingerprint_id=fingerprint_id, page=active_page|int + 1) }}">
                    <i class="fi fi-arrow-end fs--11"></i>
                </a>
            </li>

        </ul>
    </nav>
    <!-- pagination -->
</div>