{% extends 'base.html' %}

{% block content %}
<section>
    <div class="w-75 mx-auto p-5  bg-white shadow-xs rounded-xl text-gray-800">
        <table class="w-100 table-datatable table table-bordered table-hover table-striped text-center" 
            data-lng-empty="Нет таких данных" 
            data-lng-page-info="Показано с _START_ по _END_ из _TOTAL_ вхождений" 
            data-lng-filtered="(filtered from _MAX_ total entries)" 
            data-lng-loading="Загрузка..." 
            data-lng-processing="В процессе..." 
            data-lng-search="Поиск..." 
            data-lng-norecords="Нет таких данных" 
            data-lng-sort-ascending=": активирована сортировка по возрастанию" 
            data-lng-sort-descending=": активирована сортировка по убыванию" 

            data-lng-column-visibility="Выбор столбцов" 
            data-lng-csv="CSV" 
            data-lng-pdf="PDF" 
            data-lng-xls="XLS" 
            data-lng-copy="Copy" 
            data-lng-print="Print" 
            data-lng-all="All" 

            data-main-search="true" 
            data-column-search="false" 
            data-row-reorder="false" 
            data-col-reorder="true" 
            data-responsive="true" 
            data-header-fixed="true" 
            data-select-onclick="true" 
            data-enable-paging="true" 
            data-enable-col-sorting="true" 
            data-autofill="false" 
            data-group="false" 
            data-items-per-page="10" 

            data-lng-export="<i class='fi fi-squared-dots fs--18 line-height-1'></i>" 
            data-export-pdf-disable-mobile="true" 
            data-export='["csv", "pdf", "xls"]' 
            data-options='["copy", "print"]' 
        >
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Серийный номер</th>
                    <th scope="col">Имя устройства</th>
                    <th scope="col">Имя компьютера</th>
                    <th scope="col">Сетевые конфигурации</th>
                    <th scope="col">Собрано информации об объектах</th>
                </tr>
            </thead>

            <tbody>
                {% for fingerprint in fingerprint_data %}
                    <tr onclick="window.location.href = '/ntfs/{{ fingerprint.id }}/'" id="{{ fingerprint.id }}" class="fingerprint cursor-pointer bg-primary-soft-hover transition-bg-ease-150 text-decoration-none">
                        <th scope="row">{{ fingerprint.id }}</th>
                        <td>{{ fingerprint.serial_name }}</td>
                        <td>{{ fingerprint.friendly_name }}</td>
                        <td>{{ fingerprint.computer_name }}</td>
                        <td>{{ fingerprint.net_settings }}</td>
                        <td>{{ fingerprint.count_objects }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}