    <div class="container">

        <!-- job -->
        <h3 class="h5 border-bottom p-3 mb-4 cursor-pointer bg-primary-soft-hover" data-toggle="collapse" href="#agents" role="button" aria-expanded="false" aria-controls="collapseExample2">
            <span class="text-primary">Загрузка агентов.</span> 
        </h3>


        <div id="agents" class="collapse row col-border ">
            <div class=" col-12 col-lg-6" >

                <div class="cursor-pointer card shadow-md shadow-lg-hover transition-all-ease-250 transition-hover-top h-100 border-primary bl-0 br-0 bb-0 bw--2">
                    <div class="card-body">
                        <h5 class="card-title">ОС семейства Windows</h5>
                        <p class="card-text">
                            
                            <ul class="list-unstyled nav-default ">

                                <li>
                                    <a href="/file_analyser/settings/download/agent/windows/powershell/">
                                        <i class="fi fi-shield-ok"></i>
                                        <span>Powershell</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/file_analyser/settings/download/agent/windows/exe/x86/">
                                        <i class="fi fi-shield-ok"></i>
                                        <span>EXE x86</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/file_analyser/settings/download/agent/windows/exe/x64/">
                                        <i class="fi fi-shield-ok"></i>
                                        <span>EXE x64</span>
                                    </a>
                                </li>

                            </ul>

                        </p>
                    </div>
                </div>
            </div>

            <div class=" col-12 col-lg-6">

                <div class="cursor-pointer card shadow-md shadow-lg-hover transition-all-ease-250 transition-hover-top h-100 border-primary bl-0 br-0 bb-0 bw--2">
                    <div class="card-body">
                        <h5 class="card-title">ОС семейства Linux</h5>
                        <p class="card-text">
                            
                            <ul class="list-unstyled nav-default ">

                                <li>
                                    <a href="/file_analyser/settings/download/agent/linux/bash/">
                                        <i class="fi fi-shield-ok"></i>
                                        <span>Bash</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/file_analyser/settings/download/agent/linux/elf/">
                                        <i class="fi fi-shield-ok"></i>
                                        <span>ELF</span>
                                    </a>
                                </li>

                            </ul>

                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>