<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Main page">
    <meta name="author" content="xoklhyip@yandex.ru">

    <title>Malware Analyser</title>

    <link rel="preload" href="{{ url_for('static', filename='assets/fonts/flaticon/Flaticon.woff2') }}" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/core.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/vendor_bundle.min.css') }}">
</head>

<body class="{% block body_classes %} header-sticky {% endblock body_classes %}">

    {% block header %}
        {% include 'header.html' %}
    {% endblock header %}


    {% block content %}
    

    {% endblock content %}

    {% block footer %}
        {% include 'footer.html' %}
    {% endblock footer %}

    <script src="{{ url_for('static', filename='assets/js/core.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fetch_forms.js') }}"></script>
    
    {% block additional_scripts %}

    {% endblock additional_scripts %}

</body>
</html>