<section id="section_about">
    <div class="container">
    
        <div class="row d-flex flex-wrap align-items-center">

            <div class="col-12 col-lg-6 mb-5">

                <h2 class="h1 font-weight-light mb-4">
                    Добро пожаловать в <span class="text-primary font-weight-medium">Malware Analyser!</span>
                </h2>


                <p class="lead mb-5">
                    Система для автоматизации рутинный задач реагирования на компьютерные инциденты. 
                </p>

            </div>

            <div class="col-12 col-lg-6 mb-5">

                <div class="row gutters-md gutters-xs--xs">

                    <div class="col-6 jarallax" data-jarallax-element="-20">


                        <div onclick="window.location.href='/file_analyser/'"
                            class="cursor-pointer bg-white shadow-xs rounded-xl p-4 mb-4 mb-2-xs bg-primary-soft-hover transition-bg-ease-150 text-decoration-none text-gray-800">
                            <i class="fi fi-folder-full fs--45"></i>
                            <h3 class="h5 py-3">File Analyser</h3>
                            <p>
                                Производит проверку по хешам на наличие вирусов.
                            </p>
                        </div>

                        <div onclick="window.location.href='/log_analyser/'"
                            class="cursor-pointer bg-white shadow-xs rounded-xl p-4 mb-4 mb-2-xs bg-warning-soft-hover transition-bg-ease-150 text-decoration-none text-gray-800">
                            <i class="fi fi-task-list fs--45"></i>
                            <h3 class="h5 py-3">Log Analyser</h3>
                            <p>
                                Позволяет анализировать системные логи СВТ.
                            </p>
                        </div>

                    </div>

                    <div class="col-6 jarallax" data-jarallax-element="30">

                        <div onclick="window.location.href='/sandbox/'"
                            class="cursor-pointer bg-white shadow-xs rounded-xl p-4 mb-4 mb-2-xs bg-success-soft-hover transition-bg-ease-150 text-decoration-none text-gray-800">
                            <i class="fi fi-box fs--45"></i>
                            <h3 class="h5 py-3">Sandbox [dev]</h3>
                            <p>
                                Анализ исполняемых файлов в песочнице.
                            </p>
                        </div>

                        <!-- <div class="bg-white shadow-xs rounded-xl p-4 mb-4 bg-danger-soft-hover transition-bg-ease-150 text-decoration-none text-gray-800">
                            <i class="fi fi-umbrella fs--45"></i>
                            <h3 class="h5 py-3">You got covered</h3>
                            <p>
                                Answering those questions and more is a tall order, but one you should approach with enthusiasm.
                            </p>
                        </div> -->

                    </div>

                </div>

            </div>

        </div>

    </div>
</section>