<section class="bg-light position-relative overflow-hidden overlay-dark overlay-opacity-8 bg-cover jarallax" style="background-image:url('{{url_for('static', filename='demo.files/images/unsplash/covers/ilya-pavlov-OqtafYT5kTw-unsplash.jpg')}}')">
                    
        <div class="container position-relative z-index-2 py-7 d-middle"> 
                
            <div class="text-center text-white py-7 p-0-xs" data-aos="fade-in" data-aos-delay="0" data-aos-offset="0">

                <h1 class="h1-xs display-4 mb-0 font-weight-light">
                    <b class="text-success">Malware</b> <span class="typed" 
                                        data-typed-string="Analyse|Detect|Prevent"
                                        data-typed-speed-forward="80" 
                                        data-typed-speed-back="40" 
                                        data-typed-back-delay="700" 
                                        data-typed-loop-times="infinite" 
                                        data-typed-smart-backspace="true" 
                                        data-typed-shuffle="false" 
                                        data-typed-cursor="|"></span>
                </h1>
                
                <p class="h4 h5-xs font-weight-normal mb-0">
                    Если забыли обновить каспера, то мы идем к вам
                </p>

                <!-- <div class="clearfix mt-5">
                    <a href="#!" class="btn btn-lg btn-success btn-pill transition-hover-top bg-gradient-success b-0 d-block-xs">
                        START A FREE TRIAL
                    </a>
                    
                    <span class="px-3 d-block-xs py-3"> OR </span>
                    
                    <a href="#!" class="btn btn-lg btn-danger btn-pill transition-hover-top bg-gradient-danger b-0 d-block-xs">
                        START FOR A SUBSCRIPTION
                    </a>
                </div> -->

            </div>

        </div>

        <div class="absolute-full w-100 overflow-hidden opacity-5 z-index-1">
            <img class="img-fluid" width="2000" height="2000" src="{{url_for('static', filename='assets/images/masks/shape-line-lense.svg')}}" alt="...">
        </div>

        <div class="shape-v shape-xs bottom-0"></div>

    </section>	